@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;

}

#img-profile img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    max-height: 100%;
    margin-bottom: 1rem;
    border-radius: 50%;
    background-color: white;
}

/* img.image-reward {
    height: 200px; 
    width: 300px; 
    object-fit: contain;
} */

span.point-number {
    font-size: 24px;
    font-weight: bold;
}

a.text-kblue {
    color: #00a8a9;
}

a.text-kblue:hover {
    color: #F56603;
}

i.text-kblue {
    color: #00a8a9;
}

i.text-kblue:hover {
    color: #F56603;
}

span.text-kpoint {
    color: #00a8a9;
}

span.text-kpoint:hover {
    color: #F56603;
}